body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

h2 {
  font-family: Nirmala UI;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(130.09deg, #eb5d38 31.89%, #ffd600 92.03%);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  filter: drop-shadow(0px 4px 20px #ffd53680);
  margin: auto;
}

.mute-button {
  width: 52px;
  height: 52px;
  background-image: url("../image/sound.png");
  background-size: cover;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 48px;
  right: 74px;
  background-color: transparent;
}

.mute-button.muted {
  background-image: url("../image/soundoff.png");
}

.mute-button:focus {
  outline: none;
}
/* 1*/
.step1 {
  margin-top: 191px;
}

.title {
  position: relative;
  width: 719px;
  height: 36px;
  padding: 16px 30px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  background: #ffffff33;
  font-family: Nirmala UI;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: auto;
  color: white;
}

.h-step1 {
  width: 1100px;
  height: 202px;
  font-size: 84px;
  line-height: 100.8px;
  margin-top: 36px;
}

.p-step1 {
  position: relative;
  width: 1100px;
  height: 93px;
  margin: auto;
  font-family: Nirmala UI;
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.2em;
  text-align: center;
  color: #fff2ce;
  margin-top: 40px;
}

.continue {
  width: 323px;
  height: 84px;
  border-radius: 10px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  border: none;
  font-family: "Nirmala UI", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-top: 80px;
}

.close {
  width: 323px;
  height: 84px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: transparent;
  font-family: "Nirmala UI", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.first-image,
.second-image {
  position: absolute;
  z-index: -1;
}

.first-image {
  width: 521px;
  height: 795px;
  top: 240px;
  left: 70px;
}

.second-image {
  top: 237px;
  right: -70px;
}

/* 2 */

.h-step2 {
  width: 1310px;
  height: 154px;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0em;
  margin-top: 10px;
}

.step {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 463px;
  height: 524px;
  margin: auto;
  margin-top: 45px;
  border-radius: 20px;
  border: 1px;
  background: #ffffff33;
  border: 0.5px solid #ffffff;
}

.slide-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.slide-text {
  font-family: Nirmala UI;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
}

.slide img {
  position: relative;
  border-radius: 20px;
  top: 42px;
}

.slide:first-child {
  display: block;
}

.prev,
.next {
  position: absolute;
  background-image: url("/image/arrow.svg");
  width: 134px;
  height: 88px;
  top: 200px;
  border: none;
  cursor: pointer;
  font-size: 0;
  background-color: transparent;
  outline: none;
}

.prev {
  right: 600px;
}

.next {
  left: 600px;
  transform: rotate(180deg);
}

.next-page {
  width: 463px;
  height: 84px;
  border-radius: 10px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  border: none;
  font-family: "Nirmala UI", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 57px;
}

/* 3 */

.step3 {
  margin-top: 257px;
}

.third-image,
.fourth-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.third-image {
  width: 523px;
  height: 812px;
  top: 157px;
  left: 39px;
}

.fourth-image {
  width: 667px;
  height: 812px;
  top: 157px;
  right: 27px;
}

.h-step3 {
  width: 593px;
  height: 120px;
  font-size: 120px;
  line-height: 120px;
}
.age-warning {
  width: 785px;
  height: 90px;
  font-family: Nirmala UI;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 40px;
}

.cotinue {
  width: 463px;
  height: 84px;
  border-radius: 10px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  border: none;
  font-family: "Nirmala UI", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 120px;
}

@media screen and (max-width: 1180px) {
  body {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  h2 {
    color: transparent;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: Nirmala UI;
    text-align: center;
  }

  .mute-button {
    width: 40px;
    height: 40px;
    top: 30px;
    right: 50px;
  }
  /* 1 */
  .step1 {
    margin: 40px;
    display: flex;
    flex-direction: column;
  }
  .title {
    width: 500px;
    height: 35px;
    top: 20px;
    border-radius: 40px;
    font-family: Nirmala UI;
    font-size: 23px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: auto;
    padding-top: 5px;
  }

  .h-step1 {
    position: relative;
    width: 770px;
    height: 58px;
    top: 30px;
    border: 1px;
    font-family: Nirmala UI;
    font-size: 40px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .p-step1 {
    width: 770px;
    height: 47px;
    top: 45px;
    margin: auto;
    font-family: Nirmala UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: auto;
    padding: 0;
  }

  .continue {
    position: relative;
    width: 330px;
    height: 56px;
    top: 240px;
    border-radius: 10px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .close {
    position: relative;
    width: 330px;
    height: 56px;
    top: 365px;
    border-radius: 10px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .first-image,
  .second-image {
    position: absolute;
    z-index: -1;
  }

  .first-image {
    display: none;
  }

  .second-image {
    width: 721px;
    top: 181px;
  }

  /* 2 */
  .h-step2 {
    width: 770px;
    height: 116px;
    font-size: 34px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 10px;
  }

  .step {
    text-align: center;
  }

  .slider-container {
    position: relative;
    width: 274px;
    height: 343px;
    margin: auto;
    margin-top: 22px;
    border-radius: 20px;
    border: 1px;
    background: #ffffff33;
    border: 0.5px solid #ffffff;
  }

  .slide-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .slide-text {
    font-family: Nirmala UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
  }

  .slider {
    display: flex;
    overflow: hidden;
  }

  .slide {
    display: none;
  }

  .slide img {
    position: relative;
    border-radius: 20px;
    top: 22px;
    width: 200px;
    height: 237px;
  }

  .slide:first-child {
    display: block;
  }

  .prev,
  .next {
    position: absolute;
    background-image: url("/image/arrow-moble.svg");
    width: 51px;
    height: 45px;
    top: 120px;
    border: none;
    cursor: pointer;
    font-size: 0;
    background-color: transparent;
    outline: none;
  }

  .prev {
    left: 330px;
  }

  .next {
    left: -110px;
    transform: rotate(180deg);
  }

  .next-page {
    width: 330px;
    height: 56px;
    border-radius: 5px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 40px;
  }
  /* 3 */

  .step3 {
    margin-top: 60px;
  }

  .third-image,
  .fourth-image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  .third-image {
    width: 523px;
    height: 712px;
    top: 197px;
    left: -50px;
  }

  .fourth-image {
    width: 667px;
    height: 712px;
    top: 197px;
    right: -100px;
  }

  .h-step3 {
    width: 508px;
    height: 45px;
    top: 20px;
    left: 26px;
    border: 1px;
    font-family: Nirmala UI;
    font-size: 56px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
  }
  .age-warning {
    width: 708px;
    height: 72px;
    top: 75px;
    left: 26px;
    font-family: Nirmala UI;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .cotinue {
    width: 330px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
    border: none;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 309px;
  }
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/image/moble-bacground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: visible;
  }

  h2 {
    color: transparent;
    -webkit-text-stroke: 0.5px #ffffff;
    font-family: Nirmala UI;
    text-align: center;
  }

  .mute-button {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 11px;
  }
  /* 1 */
  .step1 {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .title {
    width: 258px;
    height: 40px;
    top: 20px;
    border-radius: 40px;
    font-family: Nirmala UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: auto;
    padding-top: 8px;
  }

  .h-step1 {
    position: relative;
    width: 308px;
    height: 58px;
    top: 30px;
    border: 1px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .p-step1 {
    width: 308px;
    height: 47px;
    top: 45px;
    margin: auto;
    font-family: Nirmala UI;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: auto;
    padding: 0;
  }

  .continue {
    position: relative;
    width: 330px;
    height: 56px;
    top: 240px;
    border-radius: 10px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .close {
    position: relative;
    width: 330px;
    height: 56px;
    top: 365px;
    border-radius: 10px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
  }

  .first-image,
  .second-image {
    position: absolute;
    z-index: -1;
  }

  .first-image {
    display: none;
  }

  .second-image {
    width: 521px;
    top: 181px;
  }

  /* 2 */
  .h-step2 {
    width: 308px;
    height: 116px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 10px;
  }

  .step {
    text-align: center;
  }

  .slider-container {
    position: relative;
    width: 225px;
    height: 278px;
    margin: auto;
    margin-top: 22px;
    border-radius: 20px;
    border: 1px;
    background: #ffffff33;
    border: 0.5px solid #ffffff;
  }

  .slide-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .slide-text {
    font-family: Nirmala UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
  }

  .slider {
    display: flex;
    overflow: hidden;
  }

  .slide {
    display: none;
  }

  .slide img {
    position: relative;
    border-radius: 20px;
    top: 22px;
    width: 171px;
    height: 199px;
  }

  .slide:first-child {
    display: block;
  }

  .prev,
  .next {
    position: absolute;
    background-image: url("/image/arrow-moble.svg");
    width: 51px;
    height: 45px;
    top: 120px;
    border: none;
    cursor: pointer;
    font-size: 0;
    background-color: transparent;
    outline: none;
  }

  .prev {
    left: 230px;
  }

  .next {
    left: -60px;
    transform: rotate(180deg);
  }

  .next-page {
    width: 330px;
    height: 56px;
    border-radius: 5px;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  /* 3 */

  .step3 {
    margin-top: 20px;
  }

  .third-image,
  .fourth-image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }

  .third-image {
    width: 309px;
    height: 500px;
    top: 119px;
    left: 49px;
  }

  .fourth-image {
    display: none;
  }

  .h-step3 {
    width: 308px;
    height: 45px;
    top: 20px;
    left: 26px;
    border: 1px;
    font-family: Nirmala UI;
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
  }
  .age-warning {
    width: 308px;
    height: 72px;
    top: 75px;
    left: 26px;
    font-family: Nirmala UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  .cotinue {
    width: 330px;
    height: 56px;
    border-radius: 10px;
    background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
    border: none;
    font-family: Nirmala UI;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 309px;
  }
}
